@charset "utf-8";
*{
	margin:0;
	padding:0;
	text-decoration:none;
	color:inherit;
}
.main{
	width:1050px;
	margin:0 auto;
	margin-top:20px;
	position:relative;
}
.tupian img{
	position:absolute;
	top:20px;
	left:0;
	z-index:-10;
	width:1050px;
	height:500px;
}
.title{
	color:#017afb;
	font-size:18px;
	font-family:"微软雅黑";
	font-weight:bold;
}
.subtitle{
	font-size:12px;
	color:#d63d52;
}
/*.passage{
	width:85%;
}*/
.passage p{
	color:#505050;
	font-size:12px;
	line-height:30px;
	text-align:left;
}
.bottom{
	border-bottom:2px #505050 solid;
	width:200px;
	height:2px;
	margin-top:20px;
	z-index:1;
}
.links{
	background:#d63d52;
	width:80px;
	padding:4px 0;
	font-size:13px;
	color:#fff;
	text-align:center;
	margin:-14px 50px 0;
	z-index:2;
}
.links a:hover{
	color:#fff;
}