<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
		<sectionGroup name="system.web">
			<section name="neatUpload" type="Brettle.Web.NeatUpload.ConfigSectionHandler, Brettle.Web.NeatUpload" allowLocation="true" />
		</sectionGroup>
	</configSections>
	<appSettings>
		<add key="SystemName" value="泰顶项目管理平台" />
		<add key="ModuleSampleUser" value="SAMPLE" />
		<add key="TopProject" value="总项目" />
		<add key="SessionTimeout" value="1000" />
		<add key="WebSite" value="WWW.TAKETOPITS.COM" />
		<add key="WebSiteValue" value="HTTP://WWW.TAKETOPITS.COM" />
		<add key="Slogan" value="带你走向管理顶峰！" />
		<add key="CurrentSite" value="http://localhost:5000//PMP" />
		<add key="VerificationCode" value="NO" />
		<add key="SMSVerification" value="NO" />
		<add key="ProductType" value="DEMO" />
		<!--产品类型：GEPMP,EDPMP,ECMP,ERP,CRM,CMP,SIMP,SAAS,LOCALSAAS-->
		<add key="GroupVersion" value="YES" />
		<add key="IsOEMVersion" value="YES" />
		<add key="SaveOperateLog" value="YES" />
		<add key="TimerInterval" value="480000" />
		<add key="ChartImageHandler" value="storage=file;timeout=60000;Url=~/TempImageFiles/;" />
		<add key="MustInFrame" value="NO" />
		<!--打开的页面是否必须在框架内-->
		<add key="AutoSaveWFOperator" value="NO" />
		<!--自动保存工作流审批过程中所选的下一步的审批人员-->
		<add key="CanDeleteWorkflowAfterApproved" value="YES" />
		<!--已激活没有通过的流程是否可以删除-->
		<add key="CloseCurrentWFTab" value="YES" />
		<!--工作流批准通过后，是否关闭当前TAB-->
		<add key="DefaultLang" value="zh-CN" />
		<!--中文：zh-CN,中文[繁]:zh-tw, Englihs:en,Espa?ol:es，Fran?ais:fr，Italiana:it，日语:ja，português:pt，Pусский:ru，-->
		<add key="CopyRight" value="泰顶-拓鼎-钟礼月" />
		<add key="ServerName" value="SERVER1" />
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />

		<add key="adminseal-password" value="111111"></add>
	</appSettings>
	<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
		<session-factory>
			<property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
			<property name="dialect">NHibernate.Dialect.PostgreSQL83Dialect</property>
			<property name="connection.driver_class">NHibernate.Driver.NpgsqlDriver</property>
			<property name="connection.connection_string">Server=localhost;Database=taketopdecmpdb;User ID=postgres;Password=zxckkllzly;Enlist=true;Pooling=true;Minimum Pool Size=100;Maximum Pool Size=1024;Timeout=1000;</property>
			<mapping assembly="ProjectMgt.Model" />
		</session-factory>
	</hibernate-configuration>
	<connectionStrings>
		<!--链接SQL Server数据库的链接字符串-->
		<add name="SQLCONNECTIONSTRING" connectionString="Server=127.0.0.1;Port=5432;User Id=postgres;Password=zxckkllzly;Database=taketopdecmpdb;Pooling=true;Minimum Pool Size=100;Maximum Pool Size=1024;Timeout=1000;" providerName="Npgsql" />
		<add name="extganttDataContextConnectionString" connectionString="User Id=postgres;Password=zxckkllzly;Host=127.0.0.1;Database=taketopdecmpdb;Unicode=True;Persist Security Info=True;Pooling=true; " />
	</connectionStrings>
	<!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
	<system.web>
		<!--  动态调试编译
          设置 compilation debug="true" 以启用 ASPX 调试。否则，将此值设置为
          false 将提高此应用程序的运行时性能。
          设置 compilation debug="true" 以将调试符号(.pdb 信息)
          插入到编译页中。因为这将创建执行起来
          较慢的大文件，所以应该只在调试时将此值设置为 true，而在所有其他时候都设置为
          false。有关更多信息，请参考有关
          调试 ASP.NET 文件的文档。
    -->
		<compilation defaultLanguage="c#" debug="true" targetFramework="4.7.2">
			<assemblies>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Net.Http.WebRequest, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<!--<add assembly="Microsoft.Office.Interop.MSProject, Version=12.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C"/>-->
				<add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Net.Http, Version=4.2.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Buffers, Version=4.0.3.0, Culture=neutral, PublicKeyToken=CC7B13FFCD2DDD51" />
				<add assembly="System.Numerics, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="netstandard, Version=2.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" />

			</assemblies>
		</compilation>
		<httpHandlers>
			<add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />

		</httpHandlers>
		<!--  自定义错误信息
          设置 customErrors mode="On" 或 "RemoteOnly" 以启用自定义错误信息，或设置为 "Off" 以禁用自定义错误信息。 
          为每个要处理的错误添加 <error> 标记。

          "On" 始终显示自定义(友好的)信息。
          "Off" 始终显示详细的 ASP.NET 错误信息。
          "RemoteOnly" 只对不在本地 Web 服务器上运行的
           用户显示自定义(友好的)信息。出于安全目的，建议使用此设置，以便 
           不向远程客户端显示应用程序的详细信息。
    -->
		<customErrors mode="Off" defaultRedirect="TTDisplayErrors.aspx">
			<error statusCode="403" redirect="TTDisplayErrors.aspx" />
			<error statusCode="404" redirect="TTDisplayErrors.aspx" />
		</customErrors>
		<!--  身份验证 
          此节设置应用程序的身份验证策略。可能的模式是 "Windows"、 
          "Forms"、 "Passport" 和 "None"

          "None" 不执行身份验证。 
          "Windows" IIS 根据应用程序的设置执行身份验证 
            (基本、简要或集成 Windows)。在 IIS 中必须禁用匿名访问。
          "Forms" 您为用户提供一个输入凭据的自定义窗体(Web 页)，然后 
           在您的应用程序中验证他们的身份。用户凭据标记存储在 Cookie 中。
          "Passport" 身份验证是通过 Microsoft 的集中身份验证服务执行的，
           它为成员站点提供单独登录和核心配置文件服务。
    -->
		<authentication mode="Windows" />
		<!--<identity impersonate="true" userName="ADMINISTRATOR" password="zxczly" />-->
		<!--此节设置应用程序的授权策略。可以允许或拒绝不同的用户或角色访问
          应用程序资源。通配符: "*" 表示任何人，"?" 表示匿名
          (未经身份验证的)用户。-->
		<pages controlRenderingCompatibilityVersion="4.5" validateRequest="false" clientIDMode="AutoID">
			<controls>
				<add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
				<add tagPrefix="CKEditor" assembly="CKEditor.NET" namespace="CKEditor.NET" />
			</controls>
		</pages>
		<authorization>
			<allow users="*" />
			<!-- 允许所有用户 -->
			<!--  <allow     users="[逗号分隔的用户列表]"
                             roles="[逗号分隔的角色列表]"/>
                  <deny      users="[逗号分隔的用户列表]"
                             roles="[逗号分隔的角色列表]"/>
            -->
		</authorization>
		<!--  应用程序级别跟踪记录
          应用程序级别跟踪为应用程序中的每一页启用跟踪日志输出。
          设置 trace enabled="true" 可以启用应用程序跟踪记录。如果 pageOutput="true"，则
          在每一页的底部显示跟踪信息。否则，可以通过浏览 Web 应用程序
           根目录中的 "trace.axd" 页来查看
          应用程序跟踪日志。
    -->
		<trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true" />
		<!--  会话状态设置
          默认情况下，ASP.NET 使用 Cookie 来标识哪些请求属于特定的会话。
          如果 Cookie 不可用，则可以通过将会话标识符添加到 URL 来跟踪会话。
         若要禁用 Cookie，请设置 sessionState cookieless="true"。
    -->
		<!--<sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="1000"/>-->
		<sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" timeout="1000" />
		<!--  全球化
          此节设置应用程序的全球化设置。
    -->
		<globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="zh-CN" uiCulture="zh-CN" />
		<!--<globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="en-US" uiCulture="en-US"/>-->
		<!--<xhtmlConformance mode="Legacy"/>-->
		<httpModules>
			<add name="UploadHttpModule" type="Brettle.Web.NeatUpload.UploadHttpModule, Brettle.Web.NeatUpload" />
		</httpModules>
		<neatUpload useHttpModule="true" maxNormalRequestLength="2048000" maxRequestLength="2097151" defaultProvider="FilesystemUploadStorageProvider">
			<providers>
				<add name="FilesystemUploadStorageProvider" type="Brettle.Web.NeatUpload.FilesystemUploadStorageProvider, Brettle.Web.NeatUpload" />
			</providers>
		</neatUpload>
		<!--可传输的文件大小设定 IIS5,IIS6-->
		<httpRuntime maxRequestLength="2048000" maxQueryStringLength="2097151" executionTimeout="36000000" requestValidationMode="2.0" targetFramework="4.5" />
	</system.web>
	<system.webServer>
		<directoryBrowse enabled="true" />
		<!--可传输的文件大小设定 IIS7-->
		<security>
			<requestFiltering>
				　<requestLimits maxAllowedContentLength="2147483647" maxQueryString="2147483647" />
			</requestFiltering>
		</security>
		<validation validateIntegratedModeConfiguration="false" />
		<defaultDocument>
			<files>
				<clear />
				<add value="default.aspx" />
				<add value="Default.htm" />
				<add value="Default.asp" />
				<add value="index.htm" />
				<add value="index.html" />
				<add value="iisstart.htm" />
			</files>
		</defaultDocument>
		<!--<staticContent>
      <mimeMap fileExtension=".mp4" mimeType="Application/mp4"/>
    </staticContent>-->
	</system.webServer>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
		</compilers>
	</system.codedom>
	<system.serviceModel>
		<client />
		<behaviors>
			<serviceBehaviors>
				<behavior name="">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<bindings>
			<customBinding>
				<binding name="SessionService.customBinding0">
					<binaryMessageEncoding />
					<httpTransport />
				</binding>
			</customBinding>
		</bindings>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
		<services>
			<service name="SessionService">
				<endpoint address="" binding="customBinding" bindingConfiguration="SessionService.customBinding0" contract="SessionService" />
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
			</service>
		</services>
	</system.serviceModel>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="office" publicKeyToken="71e9bce111e9429c" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Vbe.Interop" publicKeyToken="71e9bce111e9429c" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.1" newVersion="5.0.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.data>
		<DbProviderFactories>
			<add name="dotConnect for PostgreSQL" invariant="Devart.Data.PostgreSql" description="Devart dotConnect for PostgreSQL" type="Devart.Data.PostgreSql.PgSqlProviderFactory, Devart.Data.PostgreSql, Version= 7.22.2014.0, Culture=neutral, PublicKeyToken=09af7300eec23701" />
		</DbProviderFactories>
	</system.data>
</configuration>